mdx-include
mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-git-revision-date-localized-plugin
mkdocs-git-authors-plugin
mkdocs-encryptcontent-plugin
neoteroi-mkdocs
httpx
pyyaml>=6.0
arrow>=1.2.3
python-dotenv>=0.21.0